/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fdf5e6; /* Light parchment-like color */
  padding: 20px;
  color: #4b2e0f;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #4b2e0f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info {
  flex: 1;
}
.character-image {
  flex: 1;
  width: 100%;
  height: auto;
  max-width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
h1, h2, h3, h4 {
  text-align: left;
  margin-bottom: 5px;
  border-bottom: 2px solid #4b2e0f;
  padding-bottom: 3px;
}
.section {
  margin-bottom: 10px;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.column {
  width: 32%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #4b2e0f;
  padding: 4px;
  text-align: left;
  font-size: 12px;
}
.special-abilities ul {
  padding-left: 20px;
  font-size: 12px;
}
.hit-points {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #4b2e0f;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

